.ThirdBlock {
    background: url(../../assets/images/12121212.png), #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 430px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 1200px;

        .titleAdvantagesContainer {
            margin-bottom: 50px;
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #E0E0E0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            img {
                margin-left: 25px;
                margin-right: 15px;
                width: 32px;
                height: 30px;
            }
        }
        
        .advantagesBocksContaineer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;

            .advantageBlock {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                cursor: pointer;
                width: 206px;
                height: 221px;
                text-align: center;
                margin-right: 100px;
                img {
                    width: 90.58px;
                    height: 47.05px;
                }
                .advantageTxt {
                    width: 300px;
                    span {
                        margin-top: 40px;
                        width: 180px;
                        font-family: 'Ubuntu';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 21px;
                        background: linear-gradient(242.53deg, #F8D65F 2.76%, #FEEA9A 51.48%, #FFCD4E 98.79%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;           
                    }
                    div {
                        text-align: start;
                        margin-top: 20px;
                        width: 160px;
                        padding-left: 15px;
                        font-family: 'Ubuntu';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                        color: #FFFFFF;
                    }
                }
                transition: all .2s ease-in-out;               
            }
            .advantageBlock:hover {
                transform: scale(1.01);
                transition: .2s;              
            }
        }
        @media screen and (max-width: 560px) {
            .titleAdvantagesContainer {
                height: 100px;
                margin-bottom: 0px;
                margin-right: 150px;
            }
            .advantagesBocksContaineer {
                height: auto;
                flex-direction: row;
                flex-wrap: wrap;
                .advantageBlock {
                    margin-right: 110px;
                    width: 80px;
                    height: 100px;
                    flex-direction: row;
                    img {
                        width: 42px;
                        height: 22px;
                    }
                    .advantageTxt {
                        span {
                            font-weight: 700;
                            font-size: 7.11805px;
                            line-height: 8px;
                        }
                        div {
                            font-weight: 400;
                            font-size: 7.11805px;
                            line-height: 8px; 
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 560px) {
        div {
            width: 380px;
        }
    }
}
@media screen and (max-width: 560px) {
    .ThirdBlock {
        padding-top: 20px;
        align-items: baseline;
        height: 280px;
        padding-left: 100px;
        div {
            height: 100px; 

        }
        
    }
}