.SecondBlock {
    background: linear-gradient(272.34deg, rgba(249, 208, 104, 0.2) 0%,
     rgba(0, 0, 0, 0) 99.62%), #000000;
    height: 317px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .carParkContainer {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        max-width: 1200px;
        min-width: 1200px;

        .type {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            margin-inline: 30px;
            div {
                display: flex;
                flex-direction: row;
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                color: #FCE386;
                div {
                    margin-right: 20px;
                    background: url('../../assets/images/carPark.svg');
                    width: 44px;
                    height: 30px;
                }
            }
            .typeCar {
                display: flex;
                flex-direction: column;
                a {
                    text-decoration: none;
                    margin-top: 10px;
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;
                    color: rgba(255, 255, 255, 0.5);
                }
                .active-link {
                    color: rgba(255, 255, 255, 0.95);
                }
            }
        }

        .typesInfoBlockContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .typesInfoBlock {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                border: 1px solid rgba($color: Gold, $alpha: 0.4);
                width: 206px;
                height: 221px;
                background: rgba($color: #000000, $alpha: 0.4);
                border-radius: 4px;
                color: rgba(255, 255, 255, 0.5);
                transition: all .2s ease-in-out;               
         
                img {
                    width: 122px;
                    height: 58px;
                    margin-top: 10px;
                }
                span {
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    color: #FFFFFF;
                    margin-bottom: 20px;
                }
                div {
                    padding-top: 25px;
                    height: 59px;
                    border-top: 1px solid #FFFFFF;
                    margin-inline: 15px;
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 150%;
                }
            }
            .typesInfoBlock:hover {
                transform: scale(1.01);
                transition: .2s;              
            }
        }
        @media screen and (max-width: 560px) {
            .typesInfoBlockContainer {
                width: 330px;
                transition: 2s;
                flex-wrap: wrap;
                margin-bottom: 50px;
                margin-inline: 0px;
                .typesInfoBlock {
                    margin: 10px;
                    width: 130px;
                    height: 139px;
                    img {
                        width: 76.73px;
                        height: 36.48px;
                    }
                    span {
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 11px;
                    }
                    div {
                        font-weight: 400;
                        font-size: 6px;
                        line-height: 150%;
                        padding-top: 10px;
                    }
                }
            }
        }
    
    }
    @media screen and (max-width: 560px) {
        .carParkContainer {
            
            display: block;
            margin-top: 50px;
            margin-left: -80px;
            flex-direction: column;
            min-width: 380px;
            max-width: 380px;
            .type {
                width: 380px;
                margin-left: -5px;
                flex-direction: column;
                div {
                    margin-left: 10px;
                }
                .typeCar {
                    flex-wrap: wrap;
                    width: 330px;
                    display: flex;
                    flex-direction: row;
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 10px;
                        width: 90px;
                        height: 30px;
                        border: 1px solid #FCE386;
                        box-sizing: border-box;
                        background: rgba(217, 217, 217, 0.1);
                        border-radius: 3px;
                        font-family: 'Ubuntu';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 11px;
                        color: #FFFFFF;
                    }
                }

            }
        }
    }
}
@media screen and (max-width: 560px) {
    .SecondBlock {
        padding-left: 100px;
        height: auto;
    }
}