.FirstBlock {
    height: 472px;
    background: linear-gradient(83.62deg, rgba(244, 175, 70, 0.48) 0%, rgba(0, 0, 0, 0) 75.57%), #121212;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    .rentInfoContainer{
        transform: matrix(-1, 0, 0, 1, 0, 0);
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 1200px;
        min-width: 1200px;

        .carImage {
            button {
                display: none;
                width: 279px;
                height: 40px;
                background: linear-gradient(242.53deg, #F8D65F 2.76%, #FEEA9A 51.48%, #FFCD4E 98.79%);
                border-radius: 2px;
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #000000;
                margin-top: 10px;
                border: none;
                cursor: pointer;
                transition: all .2s ease-in-out;               
            }
            button:hover {
                transform: scale(1.01);
                transition: .2s;              
            }
            .swiper {
                overflow: hidden;
                padding-left: 60px;
                padding-bottom: 50px;
                width: 500px;
                height: 250px;
            }
            .swiper-button-prev {
                width: 50px;
                z-index: 1;
                height: 20px;
                font-weight: 100;
                margin-top: 120px;
                margin-left: 15px;
                color: #ffffff3c;
            }
            .swiper-button-prev:after {
                font-size: 30px !important;
            }
            .swiper-button-next {
                width: 20px;
                height: 10px;
                margin-top: 125px;
                margin-right: 310px;
                color: #FFFFFF3c;
            }
            .swiper-button-next:after {
                font-size: 30px !important;
            }
            .swiper-pagination {
                width: 50%;
            }
            .swiper-pagination-bullet {
            
                margin-bottom: 7px;
                width: 30px;
                height: 3px;                
                border-radius: 5px;
                background: #7B7B7B;;
            }
            .swiper-pagination-bullet-active {
                background: #FCE282;
            }
            @media screen and (max-width: 560px) {
                button {
                    display: block;
                    margin-left: 170px;
                }
                .swiper {
                    height: 160px;
                    margin-left: 60px;
                }
                .swiper-wrapper {
                    margin-left: 50px;
                }
                .swiper-button-prev {
                    display: none;
                }
                .swiper-button-next {
                    display: none;
                }
                .swiper-pagination {
                    width: 90%;
                    margin-top: 0;
                }
            }
        }    
        .findRentContainer {
            display: flex;
            flex-direction: column;
            background: rgba($color: #000000, $alpha: 0.4);
            border-radius: 4px;
            width: 327px;
            height: 376px;
            box-sizing: border-box;
            border: 1px solid rgba($color: Gold, $alpha: 0.4);
            font-family: 'Ubuntu';
            color: #FFFFFF;

            .title {
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 17px;
                display: flex;
                justify-content: space-evenly;
                flex-direction: row;
                margin-top: 28px;
                .titleImg {
                    background: url(../../assets/images/carlogo.png);
                    width: 41px;
                    height: 28px;
                }
                .titleText {
                    span{
                        font-size: 12px;
                        line-height: 14px;
                        font-weight: 400;
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
            .inputsContainer {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin: 25px;
                select {
                    margin-top: 10px;
                    width: 279px;
                    height: 40px;
                    background: #F7F7F7;
                    border-radius: 2px;
                    cursor: pointer;
                }
                button {
                    width: 279px;
                    height: 40px;
                    background: linear-gradient(242.53deg, #F8D65F 2.76%, #FEEA9A 51.48%, #FFCD4E 98.79%);
                    border-radius: 2px;
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    color: #000000;
                    margin-top: 10px;
                    border: none;
                    cursor: pointer;
                    transition: all .2s ease-in-out;               
                }
                button:hover {
                    transform: scale(1.01);
                    transition: .2s;              
                }
            }
        }

        .bestAvilableContainer {
            margin-left: 50px;
            width: 250px;
            height: 376px;
            margin-top: 140px;
            font-family: 'Ubuntu';
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: white;
            span {
                color: #FCE386;
            }
            div {
                margin-top: 35px;
                display: flex;
                flex-direction: row;
                margin-right: 5px;
                .newImage {
                    cursor: pointer;
                    background: url('../../assets/images/new.png');
                    width: 39px;
                    height: 39px;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 18px;
                }
            }
            button {
                margin-top: 35px;
                cursor: pointer;
                border: 0;
                width: 195px;
                height: 40px;
                background: linear-gradient(242.53deg, #F8D65F 2.76%, #FEEA9A 51.48%, #FFCD4E 98.79%);
                border-radius: 4px;
                color: #000000;
                transition: all .2s ease-in-out;               
            }
            button:hover {
                transform: scale(1.01);
                transition: .2s;              
            }

            @media screen and (max-width: 560px) {
                .carImage {
                    img {
                        width: 279px;
                        height: 158px;
                    }
                }
            }
        }
        @media screen and (max-width: 560px) {
            .bestAvilableContainer {
                margin-top: 50px;
                height: 100px;
                margin-left: -10px;
                div {
                    margin-top: 5px;
                }
                button {
                    display: none;
                }
            }
        }

    }
    @media screen and (max-width: 560px) {
        .rentInfoContainer {
            height: auto;
            max-width: 600px;
            min-width: 600px;
            flex-direction: column;
        }
        .carImage {
            img {
                width: 279px;
                height: 158px;
            }
        }
    }
}
@media screen and (max-width: 560px) {
    .FirstBlock {
        height: 800px ;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}