.FourthBlock {
    background: linear-gradient(95.31deg, rgba(255, 205, 78, 0.2) 0%, rgba(0, 0, 0, 0) 100.44%), #000000;
    height: 446px;
    position: relative;
    display: flex;
    justify-content: center;

        
    
    .FourthBlockAllContainer{
        width: 1150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .fourthDecorationInfo {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
    
    
            .titleHowWeWorkContainer {
                width: 50%;
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                color: #E0E0E0;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                .title {
                    img {
                        margin-right: 15px;
                        width: 32px;
                        height: 30px;
                    }
                    div {
                        font-family: 'Ubuntu';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 28px;
                        color: #E0E0E0;
                        
                    }
                }
                .info {
                    margin-top: 20px;
                    width: 80%;
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: rgba(255, 255, 255, 0.8);
                }
                @media screen and (max-width: 560px) {
                    .title {
                        margin-top: 50px;
                    }
                    .info {
                        width: 273px;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 150%;
                    }
                }
            }
            .fourthDecoration {
                flex-basis: 50%;
            }
            @media screen and (max-width: 560px) {
                .fourthDecoration {
                    display: none;
                    height: 0;
                    width: 0;
                }
            }
        }
        @media screen and (max-width: 560px) {
            .fourthDecorationInfo{
                align-items: baseline;
            }
        }
    
        .absoluteBox {
            bottom: -15%;
            position: absolute;
            z-index: 1;
            width: 1200px;
            display:  flex;
            justify-content: space-around;
            flex-direction: row;

            .arrow {
                margin-top: 44px;
                width: 18px;
                height: 30px;
            }
            div {
                padding-top: 5px;
                align-items: center;
                display:  flex;
                justify-content: center;
                flex-direction: row;
                width: 25%;
                height: 120px;
                border-radius: 6px;
                background: linear-gradient(242.53deg, #F8D65F 2.76%, #FEEA9A 51.48%, #FFCD4E 98.79%);

                img {

                    width: 57px;
                    height: 57px;
                }
                div {
                    background: none;
                    display: flex;
                    flex-direction: column;
                    width: 70%;
                    color: #000000;
                    span {
                        font-family: 'Ubuntu';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 18px;
                    }
                    div {
                        font-family: 'Ubuntu';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
            }
        }
        @media screen and (max-width: 560px) {
            .absoluteBox {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                bottom: 0;
                position: relative;
                z-index: 1;
                width: 380px;
                .arrow {
                    margin-left: 130px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                div {
                    width: 273px;
                    height: 89px;
                }
            }
        }
    }
    @media screen and (max-width: 560px) {
        .FourthBlockAllContainer {
            padding-top: 50px;
            padding-bottom: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 380px;
            transition: 2s;
        }
    }
}
@media screen and (max-width: 560px) {
    .FourthBlock {
        height: 700px;
        transition: 2s;
    }
}